import firebase from 'firebase';

const config = {
  apiKey: "YOUR_CONFIG",
  authDomain: "YOUR_CONFIG",
  databaseURL: "YOUR_CONFIG",
  projectId: "YOUR_CONFIG",
  storageBucket: "YOUR_CONFIG",
  messagingSenderId: "YOUR_CONFIG",
  appId: "YOUR_CONFIG",
  measurementId: "YOUR_CONFIG"
};

firebase.initializeApp(config);

export default firebase;

export const database = firebase.database();
export const auth = firebase.auth();
export const googleAuthProvider = new firebase.auth.GoogleAuthProvider();

# After create Firebase project, activate Google Authentication and database with ref restaurants
